# ==========================================
# DEPENDÊNCIAS DO SIMET V2 (ARQUITETURA API)
# ==========================================

# 1. Automação e Scraping
playwright
playwright-stealth

# 2. Banco de Dados
psycopg2-binary

# 3. Inteligência Artificial
openai
instructor
pydantic>=2.6.4

# 4. Servidor API e Backend
fastapi
uvicorn
pandas
PyJWT
requests

# 5. Utilidades
python-dotenv==1.0.1
psutil